:root {
  --background-color: #1c1620;
  --secondary-background-color: #2c2233;
  --accent-color-1: #6c549b;
  --accent-color-2: #caa43e;
  --accent-color-3: #d4a5e1;
  --accent-color-4: #dcd7e8;
  --highlight-color: #e5c868;
  --text-color: #ffffff;
  --text-muted-color: #dcd7e8;
  --link-color: #caa43e;
  --link-hover-color: #d4a5e1;
  --background-gradient1: linear-gradient(
      90deg,
      rgba(26, 42, 70, 0.75) 0%,
      rgba(31, 30, 51, 0.75) 100%
    ),
    linear-gradient(0deg, rgba(44, 34, 51, 0.2), rgba(44, 34, 51, 0.2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aljazeera-Regular";
  src: url(../fonts/Al-Jazeera-Arabic\ Regular.ttf);
}

@font-face {
  font-family: "Aljazeera-Bold";
  src: url(../fonts/Al-Jazeera-Arabic\ Bold.ttf);
}

body {
  font-size: 1rem;
  line-height: 150%;
  font-family: "Aljazeera-Regular", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}
.section {
  padding: 80px 0;
}
.bg-dark,
.bg-light {
  background-image: url("../img/background/2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-dark {
  background-color: #1c1620 !important;
}
.bg-light {
  background-color: #2c2233 !important;
}
.section-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aljazeera-Bold";
  margin: 0;
  line-height: 150%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  line-height: 150%;
}
input::placeholder {
  text-align: right;
  font-size: 14px;
}
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.big-title {
  position: relative;
  width: max-content;
  margin: 0 auto 80px;
  font-size: 2.5rem;
  padding: 0 30px;
}
.gold {
  color: var(--link-color) !important;
}
.big-title::after {
  content: "";
  width: fit-content;
  height: 3px;
  background: var(--highlight-color);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  justify-content: center;
  width: max-content;

  padding: 8px 20px;
  font-size: 1rem;
}

.btn-outline-primary {
  color: var(--link-color);
  border-color: var(--accent-color-2);
  border: none;
  padding: 0;
  font-size: 1rem;
  margin: 0;
}

.btn-primary {
  background-color: var(--accent-color-1);
  border-color: var(--accent-color-1);
}

.btn-secondary {
  background-color: var(--accent-color-2);
  border-color: var(--accent-color-2);
}

.btn-primary:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.btn-outline-primary:hover {
  border-color: unset;
  background-color: unset;
  color: var(--secondary-color);
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  color: var(--text-color);
}
.pagination {
  background-color: transparent !important;
  --bs-pagination-bg: transparent;
}
.pagination li a {
  background-color: #fff;
  color: #000;
  width: 40px;
  height: 40px;
  text-align: center;
}
.active > .page-link,
.page-link.active {
  background-color: var(--link-color);
  color: #fff;
  border: none;
  font-weight: bold;
}
.pagination li:first-child a,
.pagination li:last-child a {
  background-color: transparent;
  color: inherit !important;
}
.pagination .page-item a {
  margin-left: 10px;
  border-radius: 50%;
}
.page-item:first-child .page-link {
  margin-left: 10px;
  border-radius: 50%;
  background-color: transparent;
}
.page-item:last-child .page-link {
  border-radius: 50%;
}

/* Navbar Styling */
.custom-navbar {
  background: var(--background-gradient1);
  padding: 0.5rem 0;
}

.custom-navbar.fixed-nav {
  background-color: #1c1620;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 45px;
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
  margin: 0;
  padding: 15px;
}

.nav-link {
  color: var(--text-color);
  margin-right: 15px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #b792ff;
  position: relative;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .show > .nav-link::after {
  content: "";
  height: 2px;
  background-color: #b792ff;
  position: absolute;
  bottom: 7px;
  left: 15%;
  width: 70%;
}

.nav-link:hover {
  color: #ffffff;
}

.search-form {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.search-form .search-input {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 100%;
}

.search-form .search-input:focus {
  box-shadow: none;
}

.search-form .search-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  margin-left: 0;
  transition: background-color 0.3s ease;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form .search-button:hover {
  background-color: var(--hover-color);
}

.navbar-toggler {
  color: var(--text-color);
}

.footer {
  background-color: #17111c;
  color: #fff;
  background-image: url("../img/background/2.webp");
  background-size: cover;
  background-position: center;
}

.footer-title {
  font-size: 1.25rem;
  color: #ffc107;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
}

.footer-link:hover {
  color: #caa43e;
}

.footer-email {
  background-color: transparent;
  border: 1px solid #caa43e;
  border-radius: 12px;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 15px;
}

.social-icons a {
  font-size: 1.25rem;
}

.footer {
  background-color: #17111c;
  padding-top: 40px;
}

.footer-logo {
  width: 60px;
}

.social-icons a {
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f7d9c4;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #f7d9c4;
}

.footer-bottom {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .footer .text-center {
    flex-flow: column;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    width: max-content;
  }

  .navbar-collapse {
    padding: 20px 0;
  }

  .navbar-toggler-icon {
    color: #ffffff;
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }

  .navbar-toggler {
    border-color: #ffffff;
  }
}


